
/* Diagnostics */
.debug-mode {
    outline: 1px solid red !important;
}

:where(.b235-container) {
    --width: unset;
    --height: unset;
    --margin: unset;
    --margin-block: unset; /* added */
    --margin-inline: unset;
    --display: unset;
    --flex-wrap: unset;
    --max-width: unset;
    --max-height: unset;
    --min-width: unset;
    --min-height: unset;
    --item-width: unset;
}

:where(.b235-container, .b235-container > *) {
  box-sizing: border-box;
}
