.modifier {
    --width: 100%;
    --gap: 1rem;
    --padding: 1rem;
    align-items: center;
    justify-content: end;
    --border: 1px solid black;
}


.tes {
    width: 5rem;
    --flex-grow: 0;
    --flex-shrink: 1;
    border: 1px solid black;
}


.hero {
    display: flex;
    --padding: 1rem;
    justify-content: center;
    gap: 1rem;
}

.overlay {
    width: 10rem;
    height: 5rem;
    --flex-grow: 0;
    --flex-shrink: 1;
    border: 1px solid black;
    display: flex;
}