.modifier {
    --width: 70rem;
    --gap: 1rem;
    align-items: center;
    justify-content: center;
    --border: 1px solid black;
}


.tes {

    --flex-grow: 0;

    --flex-shrink: 0;
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
}
