.b235-container {
    width: 100%;
    max-width: var(--width, 100%);
    box-sizing: border-box;
    display: var(--display, flex);
    flex-wrap: var(--flex-wrap, wrap);
    height: var(--height, auto);
    min-height: var(--height);
    margin-block: var(--margin-block, var(--margin, 0));
    margin-inline: var(--margin-inline, var(--margin, 0));
    padding: var(--padding, 0);
    max-height: var(--max-height);
    min-width: var(--min-width, 0);
    container-type: inline-size;
}

.b235-container > * {
    box-sizing: border-box;
    flex-grow: var(--flex-grow, 1);
    flex-shrink: var(--flex-shrink, 1);
    flex-basis: auto;
    width: var(--item-width, auto);
}

.b235-container.b235-no-equal-height > * {
    flex-basis: auto;
    flex-grow: 0;
}
